article {

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 350px;

  line-height: 1.5rem;
  box-sizing: border-box;

  & header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: var(--space);
    align-items: end;

    & h1 {
      flex: 1;
    }

    & a {
      text-decoration: none;
    }
  }

  & main:not(:has(img)) {
    padding: var(--space);
    width: inherit;
  }

  & header+main img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

  }

  & main:has(+ footer) img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  & main img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }

  & footer {
    border-top: 1px solid var(--border-color);

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      & li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & li:not(:first-child) {
        border-left: 1px solid var(--border-color);
      }
    }
  }
}