article {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 350px;
  line-height: 1.5rem;

  & header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: var(--space);
    align-items: end;

    & h1 {
      flex: 1;
    }

    & a {
      text-decoration: none;
    }
  }

  & main {
    padding: var(--space);
    width: inherit;

    & img {
      width: 100%;
    }
  }

  & footer {
    border-top: 1px solid var(--border-color);

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      & li {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & i {
          margin: 0 auto;
        }
      }

      & li:not(:first-child) {
        border-left: 1px solid var(--border-color);
      }
    }
  }
}